@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

// Page 404 //
.page404 {
  h1,
  p,
  a {
    color: #091102;
  }
}

// Index //
.navbar {
  background: linear-gradient(to top, #000a00da 70%, rgba(0, 10, 0, 0.855) 70%),
    url("../img/FontSene2.jpg");
  opacity: 0.66;
  background-position: center;
  background-size: cover;
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    color: white;
  }
}
h1 {
  padding: 2cm;
  text-align: center;
  color: white;
  font-size: 6vh;
}
a {
  color: white;
}
.collapse {
  display: flex;
  flex-direction: row;
  li a {
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    color: white;
    font-size: 2vh;
  }
}

.section-presention {
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  .text {
    margin: 50px;
    padding-bottom: 40px;
    h1 {
      font-size: 60px;
      padding: 30px;
      color: #091102;
    }
    p {
      font-size: 20px;
      text-align: justify;
    }
    .para {
      padding-top: 20px;
      line-height: 25px;
    }
  }
  .img {
    padding-right: 80px;
    img {
      width: 50vh;
      height: 60vh;
      float: right;
      background-size: cover;
      border-radius: 20px;
    }
  }
}

.anim {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #091102;
  color: #fff;
  .anim_text {
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 30px;
    h1 {
      font-weight: bold;
      padding: 30px;
      text-align: center;
    }
    p {
      font-size: 20px;
    }
  }
  .zone_habitat {
    margin: 20px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    .H {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        transition: 0.4s ease-in-out;
      }

      a:hover {
        color: #4d4b4b;
        transition: 0.2s ease-in-out;
      }
      img {
        width: 40vh;
        height: 40vh;
        margin: 30px;
        background-size: cover;
        border-radius: 50%;
      }
    }
  }
}

#footer {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  .contact {
    background-color: #43291a;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    .main_contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 60px;
      .titre_h3 {
        width: 15vh;
        display: flex;
        border-bottom: 0.3em solid #fff;
        h3 {
          padding: 10px;
          color: #fff;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin: 0;
        p {
          font-size: 11px;
          font-family: Arial, sans-serif;
          font-weight: lighter;
          padding: 10px;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}

// Page home //
.title_home {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/FontSene2.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
  img {
    height: 15em;
    width: 15em;
    border-top-left-radius: 5px 200px;
    border-top-right-radius: 170px 50px;
    border-bottom-right-radius: 5px 200px;
    border-bottom-left-radius: 190px 50px;
  }
  .zone_text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  h1 {
    padding: 0.5em;
    text-align: center;
    color: white;
    font-size: 6vh;
  }
  p {
    color: white;
  }
  a {
    color: white;
  }
}

// Page Les habitats d'Arcadia //
.title_habitat {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/FontSene3.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
  img {
    height: 15em;
    width: 15em;
    border-top-left-radius: 5px 200px;
    border-top-right-radius: 170px 50px;
    border-bottom-right-radius: 5px 200px;
    border-bottom-left-radius: 190px 50px;
  }
  .zone_text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  h1 {
    padding: 0.5em;
    text-align: center;
    color: white;
    font-size: 6vh;
  }
  p {
    color: white;
  }
  a {
    color: white;
  }
}

.container-sectionHabitat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  .container-habitat {
    display: flex;
    flex-direction: column;
    .img_habitat {
      margin-bottom: 30px;
    }  
  .zone_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 25px;
      a{
        color: black;
        text-decoration: none;
      }
    }
    p {
      font-size: 12px;
    }
  }
  img {
    height: 15em;
    width: 15em;
    border-top-left-radius: 5px 200px;
    border-top-right-radius: 170px 50px;
    border-bottom-right-radius: 5px 200px;
    border-bottom-left-radius: 190px 50px;
  }
}
}

// page Les différents habitats //
.title-habitats {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/FontSene.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

.container-sectionHabitats {
  display: flex;
  flex-direction: column;
  .title-animal {
    text-align: center;
    margin: 20px;
    padding-top: 40px;
    h2 {
      color: #fff;
      font-size: 45px;
    }
  }
  .section_habitat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 60px;
  }
  .img_habitats {
    margin-bottom: 30px;
    width: 25vh;
    height: 23vh;
    img {
      height: 15em;
      width: 15em;
      border-radius: 10%;
      position: absolute;
    }
    .zone_text_habitats {
      background-color: #fff;
      width: 240px;
      position: relative;
      margin-top: 20vh;
      padding-top: 30px;
      border-top-left-radius: 50%;
      .zone_animal {
        padding-left: 15px;
        padding-right: 10px;
      }
      .para_habitat {
        font-size: 0.7em;
        display: flex;
        text-align: justify;
        a {
          color: #988477;
        }
      }
    }
  }
}

#zone1,
#zone3 {
  background-color: #253f0f;
}
#zone2,
#zone4 {
  background-color: #988477;
  h2 {
    color: #253f0f;
  }
}

// Page tigre //

.title-tigre {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Felin/Tigre.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

.container-animal {
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: 25px;
  padding: 5px;
  .titre_h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    h2 {
      font-size: 50px;
    }
  }
}

.img_animal {
  img {
    height: 360px;
    width: 600px;
    border-radius: 10%;
  }
}

.container_description{
display: flex;
flex-direction: column;
align-items: center;
.item_description{
  background-color: #9d9898;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  border-radius: 15px;
  padding: 20px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  .div_description{
padding: 15px;

h3,p{
  color: #fff;
}
  }  
}
}

// Page Léopard //

.title-leopard {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Felin/leopard2.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Lion //

.title-lion {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Felin/lion.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Gorille //

.title-gorille {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Singe/gorille3.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Macaque //

.title-macaque {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Singe/macaque1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Orang outan //

.title-orangOutan {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Singe/Orang-outan1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page ours brun //

.title-oursBrun {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Ours/ours-brun1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Ours polaire //

.title-oursPolaire {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Ours/oursPolaire1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Ours noir //

.title-oursNoir {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Ours/oursNoir1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Panda roux //

.title-pandaRoux {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Panda/pandaRoux3.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page Panda géant //
.title-pandaGeant {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Panda/pandaGeant1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page koala //

.title-koala {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/Panda/koala1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

// Page restauration //

.title-restauration {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../img/parkAtraction1.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 5em;
}

.container-restau{
  height: 100%;
  width: 100%;
  .div_text{
margin: 40px;
    margin-left: 15em;
    margin-right: 15em;
  }
  .container-sectionHabitat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    .container-cart{
      margin: 20px;
      .img_habitat {
        margin-bottom: 30px;
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }

      }  
    }
  }
  .container-sectionMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    .container-cart{
      margin: 10px;
      .img_habitat{
        margin-bottom: 30px;
  height: 100%;
  width: 100%;
  img{
    height: 200px;
    width: 400px;
    border-radius: 5%;
  }
      }
    }
  }
}

